/* Global styles
------------------------------------*/

:root {
    --extreme-dark-color:   #1B2845;
    --dark-color:           #274060;
    --medium-color:         #3b81c1;
    --light-color:          #97BFED;
    --extreme-light-color:  #EBF4FF;
} 

body {
    margin: 0;
    padding: 0;
    background-color: #434854;
    /* background: url(../assets/Find_Good_Background.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}


.main-grid .body-context {
    opacity: 0.90;
}

/* Header styles
------------------------------------*/

h1, h2, h3 {
    font-family: "Dosis", cursive;
    font-weight: 400;
    margin: 0;
}

header {
    text-align: center;
    padding: 30px 0;
    font-size: 18px;
    /* color: var(--extreme-light-color);   */
    background-color: var(--medium-color);
}

header h1, header h2 {
    font-family: 'Caveat', cursive;
}

header h1 {
    font-size: 150px;
    line-height: 1.1;
}

header h2 {
    font-size: 65px;
    padding-bottom: 20px;
}


/* Body styles
------------------------------------*/

body main .body-main-context {
    font-size: 18px;
}

.work-main-section {
    background-color: var(--extreme-light-color);
    padding-left: 0.5rem;
}

.work-main-section h1 {
    padding: 1rem 0;
}

.work-items-wrap {
    padding: 1rem;
}

.work-items-header h3:first-of-type {
    font-weight: bold;
}

.work-items-header h3:last-of-type {
    font-size: 1.2rem;
}

.work-items-header h3:last-of-type div {
    font-size: 1rem;
}

.work-items-content h3 {
    font-weight: bold;
    font-size: 1.3rem;
    padding: 5px 0;
}

.work-items-content li:last-of-type {
    color: var(--medium-color);
}

.education-section {
    background-color: var(--light-color);
    padding-left: 0.5rem;
}


/* Footer styles
------------------------------------*/

footer {
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    color: var(--extreme-light-color);
    background-color: var(--extreme-dark-color);
}

/* .footer-context {
    margin: 0 auto;
} */

.contact-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.contact-list li {
    padding: 15px;
    display: inline-block;
}

.contact-list li a {
    font-size: 14px;
}
