/*
    COLOR PALETTE
    https://coolors.co/274060-335c81-ebf4ff-1b2845-97bfed
*/

:root {
    --extreme-dark-color:   #1B2845;
    --dark-color:           #274060;
    --medium-color:         #335C81;
    --light-color:          #97BFED;
    --extreme-light-color:  #EBF4FF;
} 

body main .body-context {
    height: 400px;
    font-size: 18px;
    background-color: var(--light-color);
}

header {
    text-align: center;
    padding: 30px 0;
    font-size: 21px;
    color: var(--extreme-light-color);  
    background-color: var(--medium-color);
}

footer {
    text-align: center;
    padding: 10px 0;
    font-size: 11px;
    color: var(--extreme-light-color);
    background-color: var(--extreme-dark-color);
}